body {
  height: 100%;
  background-color: #fff; }

.container {
  min-height: 180px;
  height: 100%; }

.row {
  height: 100%; }

.col-4 {
  text-align: center;
  padding: 0px; }

.card {
  border-radius: 0%;
  border: 2px solid #841f27;
  display: flex;
  justify-content: center;
  min-height: 180px; }

.debit {
  color: red; }

.credit {
  color: green; }

.card:hover {
  transform: scaleX(1.05) scaleY(1.01);
  z-index: 5;
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2), 0 3px 5px 5px rgba(0, 0, 0, 0.19); }

.col-6 {
  min-height: 20px;
  text-align: center;
  padding: 0px; }

.desc {
  opacity: 0.5; }
